# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:

  issue_comment:
    types: [created]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - name: $github
        run:   echo "$GITHUB_CONTEXT"
        env:
         GITHUB_CONTEXT: ${{ toJson(github) }}
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - run: echo "1- ${{ steps.extract_branch.outputs.branch }}"
      - run: echo "1- ${{ github }}"
      - run: echo "2- ${{ github.event.pull_request.head.ref }}"
      - run: echo "3- ${{ github.base_ref }}"
      - run: echo "4- ${{ github.event.pull_request.title }}"
      - run: echo "5- ${{ github.base_ref }}"
      - run: echo "6- ${{ github.event.changes.body.from }}"
      - run: echo "7- ${{ github.event.comment.body }}"
      - run: echo "8- ${{ github.event.issue.pull_request.head.ref }}"
      - run: echo "9- ${{ github.event.pull_request.head.label }}"
      - run: echo "9- ${{ github.event.issue.pull_request.url }}"


